/.dist
/.vscode
/ClientProiectTest.c
/SqlStatements.h
/T4EX3RobertaIonci.c
/T4Ex2RobertaIonci.c
/T4RobertaClasic.c
/bin
/client.c
/clientBotescu
/clientUDP.c
/ex1.c
/ex1T3.c
/ex2.c
/ex2T3.c
/ex3.c
/pcdProiect.db
/server.c
/serverBotescu.c
/serverUDP.c
/test.c